{% extends 'base.html' %}

{% block content %}
{% include 'includes/header.html' %}
<div class="row mt-4">
    <h3 class="d-flex justify-content-center mb-3">Your Favorites</h3>
    {% for book in all_books %}
        {% if user in book.favorited_by.all %}
        <div class="row mt-2">
            <div class="col-4 offset-2 d-flex justify-content-center flex-column">
                <h5 class="d-flex justify-content-center w-auto"><a class="link-info" href="/books/{{book.id}}">{{book.title}}</a></h5>
                <small class="d-flex justify-content-center w-auto">(added by {{book.poster.first_name}} {{book.poster.last_name}})</small>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center">
                <a href="/unfavorite/{{book.id}}" class="btn btn-sm btn-danger w-auto">Unfavorite</a>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock content %}